.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 970px;
    margin: auto;
    margin-top:.625rem;
    margin-bottom: .625rem;
    
    

    
   
}

.list {
    list-style: none;
    display: flex;
    column-gap: 38px;
    font-family: 'Sarala', sans-serif;
    line-height:1.8rem;
    font-size: 1.125rem;
}

